#main {
  background-color: #033649;
  color: #e8ddcb;
  font-family: sans-serif;
  text-align: center;
  width: 500px;
  padding-top: 10px;
  padding-bottom: 30px; }

var {
  font-style: normal; }

.button {
  border-color: #cdb380;
  background-color: #036564;
  color: #cdb380;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 3px;
  border-style: solid;
  border-radius: 30px; }
  .button:hover {
    background-color: #031634; }
