#main {
  background-color: #033649;
  color: #e8ddcb;
  font-family: sans-serif;
  text-align: center;
  width: 500px;
  padding-top: 10px;
  padding-bottom: 30px; }

var {
  font-style: normal; }

input {
  background-color: #036564;
  color: #cdb380;
  text-align: center;
  width: 50px;
  height: 20px;
  border: none;
  border-radius: 20px; }
  input:focus {
    background-color: #031634;
    outline: none; }
  input[type='number']::-webkit-outer-spin-button, input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.button {
  border-color: #cdb380;
  background-color: #036564;
  color: #cdb380;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 3px;
  border-style: solid;
  border-radius: 30px; }
  .button:hover {
    background-color: #031634; }
