$terra_terra: #E8DDCB;
$terra: #CDB380;
$acqua: #036564;
$acqua_profonda: #033649;
$abisso: #031634;

$bkg_color: $acqua_profonda;
$txt_color: $terra_terra;
$btn_txt_color: $terra;
$btn_bkg_color: $acqua;
$btn_hover_color: $abisso;

$border_radius: 10px;

html, body { height: 100%; }

.container-fluid {
  min-height: 100%;
  background-color: $abisso;
}

#app {
  height: 300px;
  font-size: 10px;
}

#player-list {
  height: 100%;

  .row {
    height: 50%;

    .content {
      height: 94%;
      border-radius: $border_radius;
      padding-top: 1em;
      text-align: center;
      font-size: 3em;
      color: $terra;
      background-color: $acqua;
    }

    &:first-child .content {
      margin-top: 4%;
      margin-bottom: 2%;
    }

    &:last-child .content {
      margin-top: 2%;
      margin-bottom: 4%; 
    }
  }
}

#main {
  height: 100%;

  .content {
    background-color: $bkg_color;
    color: $txt_color;
    border-radius: $border_radius;
    height: 96%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    padding-top: 10px;

    #info-pane {
      height: 60%;
      padding-top: 20%;
    }

    #action-pane {
      height: 40%;
    }
  }
}

var {
  font-style: normal;
}

#wager {
  $field_height: 20px;

  autofocus: true;
  background-color: $btn_bkg_color;
  color: $btn_txt_color;
  text-align: center;
  width: 50px;
  height: $field_height;
  border: none;
  border-radius: $field_height;

  &:focus {
    background-color: $btn_hover_color;
    outline: none;
  }
}

#submit {
  $button_height: 30px;

  border-color: $btn_txt_color;
  background-color: $btn_bkg_color;
  color: $btn_txt_color;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: $button_height;
  line-height: $button_height;
  margin-left: auto;
  margin-right: auto;
  border: 3px;
  border-style: solid;
  border-radius: $button_height;

  &:hover {
    background-color: $btn_hover_color;
  }

  &:disabled {
    background-color: $btn_txt_color;
  }
}