$terra_terra: #E8DDCB;
$terra: #CDB380;
$acqua: #036564;
$acqua_profonda: #033649;
$abisso: #031634;

$bkg_color: $acqua_profonda;
$txt_color: $terra_terra;
$btn_txt_color: $terra;
$btn_bkg_color: $acqua;
$btn_hover_color: $abisso;

$height: 300px;
$width: 600px;
$margin: 3px;
$font-size: 16px;
$border-radius: 10px;

html { height: 100%; }

body {
  min-height: 100%;
  background-color: $abisso;
  text-align: center;
}

#app {
  display: inline-block;
  position: relative;
  height: $height;
  width: $width;
  
  font-size: $font-size;
  font-family: "Roboto Slab", serif;
  input { font: inherit; }
  var { font-style: normal; }

  #player-list {
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 70%;
    margin: 0 $margin;

    .player-cell {
      display: block;
      position: absolute;
      height: auto;
      left: 0;
      right: 0;
      margin: $margin 0;
      padding-top: 1em;
      
      border-radius: $border-radius;
      
      text-align: center;
      font-size: 1.2em;

      color: $terra;
      background-color: $acqua;
    }

    #player-1-cell {
      bottom: 50%;
      top: 0;
    }

    #player-2-cell {
      bottom: 0;
      top: 50%;
    }
  }

  #main {
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
    margin: $margin 0 $margin $margin;

    border-radius: $border-radius;

    text-align: center;
    font-size: 1.2em;
    
    background-color: $bkg_color;
    color: $txt_color;

    #error { font-size: 0.7em; }

    #wager {
      $field_height: 1.5em;

      width: 3em;
      height: $field_height;
      margin-left: 0.5em;

      border: none;
      border-radius: $field_height;

      autofocus: true;
      text-align: center;

      color: $btn_txt_color;
      background-color: $btn_bkg_color;

      &:focus {
        background-color: $btn_hover_color;
        outline: none;
      }
    }

    #submit {
      $button_height: 2.0em;

      display: block;
      position: absolute;
      height: $button_height;
      width: auto;
      bottom: 10%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      border: 0.2em;
      border-style: solid;
      border-radius: $button_height;

      cursor: pointer;
      text-align: center;
      line-height: $button_height;

      border-color: $btn_txt_color;
      background-color: $btn_bkg_color;
      color: $btn_txt_color;

      &:hover { background-color: $btn_hover_color; }
      &:disabled { background-color: $btn_txt_color; }
    }
  }
}
