$terra_terra: #E8DDCB;
$terra: #CDB380;
$acqua: #036564;
$acqua_profonda: #033649;
$abisso: #031634;

$bkg_color: $acqua_profonda;
$txt_color: $terra_terra;
$btn_txt_color: $terra;
$btn_bkg_color: $acqua;
$btn_hover_color: $abisso;

$border_radius: 10px;

@function height($percent) {
  @return ($percent/100) * 300px;
}

@function width($percent) {
  @return ($percent/100) * 600px;
}

@function margin() {
  @return height(3)
}

@function height-with-margins($percent, $count) {
  @return height($percent) - $count*margin();
}

@function width-with-margins($percent, $count) {
  @return width($percent) - $count*margin();
}

html { height: 100%; }

body {
  min-height: 100%;
  background-color: $abisso;
}

#app {
  height: height(100);
  width: width(100);
  font-size: 10px;
}

#player-list {
  display: inline-block;
  vertical-align: top;
  height: height(100);
  width: width-with-margins(30, 2);
  margin: 0 margin();

  .player-cell {
    height: height-with-margins(50, 1.5);
    margin: margin() 0;
    border-radius: $border_radius;
    text-align: center;
    font-size: 1em;
    color: $terra;
    background-color: $acqua;
  }
}

#main {
  height: height-with-margins(100, 2);
  width: width(70);
  margin: margin() 0;

  display: inline-block;
  vertical-align: top;

  background-color: $bkg_color;
  color: $txt_color;
  border-radius: $border_radius;
  text-align: center;

  #info-pane {
    height: 60%;
  }

  #action-pane {
    height: 40%;
  }
}

var {
  font-style: normal;
}

#wager {
  $field_height: 20px;

  autofocus: true;
  background-color: $btn_bkg_color;
  color: $btn_txt_color;
  text-align: center;
  width: 50px;
  height: $field_height;
  border: none;
  border-radius: $field_height;

  &:focus {
    background-color: $btn_hover_color;
    outline: none;
  }
}

#submit {
  $button_height: 30px;

  border-color: $btn_txt_color;
  background-color: $btn_bkg_color;
  color: $btn_txt_color;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: $button_height;
  line-height: $button_height;
  margin-left: auto;
  margin-right: auto;
  border: 3px;
  border-style: solid;
  border-radius: $button_height;

  &:hover {
    background-color: $btn_hover_color;
  }

  &:disabled {
    background-color: $btn_txt_color;
  }
}