$mystery_machine_brown: #554236;
$mystery_machine_blue: #60B99A;
$mystery_machine_yellow: #D3CE3D;
$mystery_machine_orange: #F77825;
$mystery_machine_white: #F1EFA5;

$terra_terra: #E8DDCB;
$terra: #CDB380;
$acqua: #036564;
$acqua_profonda: #033649;
$abisso: #031634;

$bkg_color: $acqua_profonda;
$title_color: $terra_terra;
$btn_txt_color: $terra;
$btn_bkg_color: $acqua;
$btn_hover_color: $abisso;

#main {
  background-color: $bkg_color;
  width: 500px;
  padding-top: 10px;
  padding-bottom: 30px;
}

h2 {
  color: $title_color;
  font-family: sans-serif;
  text-align: center;
}

.button {
  border-color: $btn_txt_color;
  background-color: $btn_bkg_color;
  color: $btn_txt_color;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 3px;
  border-style: solid;
  border-radius: 30px;
  &:hover {
    background-color: $btn_hover_color;
  }
}