$mystery_machine_brown: #554236;
$mystery_machine_blue: #60B99A;
$mystery_machine_yellow: #D3CE3D;
$mystery_machine_orange: #F77825;
$mystery_machine_white: #F1EFA5;

$terra_terra: #E8DDCB;
$terra: #CDB380;
$acqua: #036564;
$acqua_profonda: #033649;
$abisso: #031634;

$bkg_color: $mystery_machine_blue;
$txt_color: $mystery_machine_white;
$btn_txt_color: $mystery_machine_orange;
$btn_bkg_color: $mystery_machine_yellow;
$btn_hover_color: $mystery_machine_brown;
$display_bkg_color: $mystery_machine_brown;
$display_txt_color: $mystery_machine_yellow;

$width: 500px;
$height: 200px;

#main {
  background-color: $bkg_color;
  color: $txt_color;
  font-family: sans-serif;
  text-align: center;
  width: $width;
  height: $height;
}

#scoreboard {
  width: 30%;
  height: 100%;
  float: left;
}

#controls {
  height: 100%;
  width: 60%;
  float: left;
}

.display {
  $div_height: 85px;
  background-color: $display_bkg_color;
  color: $display_txt_color;
  height: $div_height;
  border-radius: 0.25*$div_height;
  line-height: 0.5*$div_height;
  margin: 10px;
}

h3 {
  margin-top: 0px;
}

input {
  $field_height: 20px;
  background-color: $btn_bkg_color;
  color: $btn_txt_color;
  text-align: center;
  width: 50px;
  height: $field_height;
  border: none;
  border-radius: $field_height;

  &:focus {
    color: $btn_hover_color;
    outline: none;
  }

  &[type='number']::-webkit-outer-spin-button, 
  &[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.button {
  $button_height: 30px;
  border-color: $btn_txt_color;
  background-color: $btn_bkg_color;
  color: $btn_txt_color;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  height: $button_height;
  line-height: $button_height;
  margin-left: auto;
  margin-right: auto;
  border: 3px;
  border-style: solid;
  border-radius: $button_height;
  &:hover {
    color: $btn_hover_color;
  }
}

.spacer {
  height: 20px;
}