#main {
  background-color: #554236;
  width: 500px;
  padding-top: 10px;
  padding-bottom: 30px; }

h2 {
  color: #60B99A;
  font-family: sans-serif;
  text-align: center; }

.button {
  border-color: #F77825;
  background-color: #D3CE3D;
  color: #F77825;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 3px;
  border-style: solid;
  border-radius: 30px; }
  .button:hover {
    background-color: #F1EFA5; }
