#main
  #scoreboard
    .display
      %h3
        You
        #score-player= game.scores[0]
    .display
      %h3
        Gudrun
        #score-opponent= game.scores[1]
  #controls
    %h2= game.result_string  
    %h3
      Wager
      %input#wager{ type: "number", value: 1, min: 1 }
    .button#action= game.action_available

%input#session{ type: "hidden", value: session_id }
%script(src="javascripts/index.js")