%h2 Hello!
%a.action(href="#") Deal

:coffee
  $(document).ready ->
    $('a.action').click (e) ->
      e.preventDefault()
      if $(this).text() == 'Deal'
        $(this).text 'OK'
        $('h2').text 'You have won'
      else
        $(this).text 'Deal'
        $('h2').text 'Hello!'